{% extends 'base.html.twig' %}

{% block title %}
    ACCUEIL
{% endblock title %}

{% block body %}
    {% if app.user %}
    <div class="mb-3">
        Vous êtes connecté en tant que {{ app.user.userIdentifier }} <a href="{{ path('app_logout') }}">Se déconnecter</a>
    </div>
    {% else %}
        
    
        <div class="example-wrapper">
            <h1>Bienvenue sur le Forum</h1>
        </div>
        
        <div>
            <p><a href="{{ path('app_register') }}">S'inscrire</a></p>
            <p><a href="{{ path('app_login') }}">Se connecter</a></p>
        </div>
    {% endif %}
{% endblock body %}
